In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'],
columns=['one', 'two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe with NaN\n", df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original Dataframe with NaN
         one       two     three
a  1.187059 -1.227661  0.098549
b       NaN       NaN       NaN
c  0.983188 -0.284470 -0.853801
d  1.998312 -0.349042  1.017905
e       NaN       NaN       NaN
f -0.064785 -1.502731  0.252255


Dropped DataFrame
         one       two     three
a  1.187059 -1.227661  0.098549
c  0.983188 -0.284470 -0.853801
d  1.998312 -0.349042  1.017905
f -0.064785 -1.502731  0.252255

In [5]:
df=pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'],
columns=['one','two','three'])
df= df.reindex(['a','b','c'])
print("Original Dataframe:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Original Dataframe:
         one       two     three
a  0.645764 -1.513485 -0.276962
b       NaN       NaN       NaN
c -0.050282  0.114531 -0.493923


NaN replaced with '0':

        one       two     three
a  0.645764 -1.513485 -0.276962
b  0.000000  0.000000  0.000000
c -0.050282  0.114531 -0.493923

In [10]:
df=pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'], columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNan-with True fill:\n")
print(df['one'].isnull())

Original Dataframe:
         one       two     three
a -0.339424 -0.636111 -0.056720
b       NaN       NaN       NaN
c -0.816460  0.465402  0.874554
d  0.010179 -0.714507  0.836982
e       NaN       NaN       NaN
f  1.251718  0.002433 -0.289851

Nan-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [11]:
df=pd.DataFrame( {'one':[10,20,80,40,50], 'two':[60,70,80,0,10]})
print("Original Dataframe:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original Dataframe:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [16]:
df=pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'], columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNaN - Filled with Background values:\n")
print(df.fillna(method="bfill"))

Original Dataframe:
         one       two     three
a -1.117966  0.773741  1.163750
b       NaN       NaN       NaN
c -0.195667 -0.000362 -0.285044
d -0.624162  1.271469  0.860446
e       NaN       NaN       NaN
f -0.380387  0.336920 -0.416842

NaN - Filled with Background values:

        one       two     three
a -1.117966  0.773741  1.163750
b -0.195667 -0.000362 -0.285044
c -0.195667 -0.000362 -0.285044
d -0.624162  1.271469  0.860446
e -0.380387  0.336920 -0.416842
f -0.380387  0.336920 -0.416842

/tmp/ipython-input-2115893800.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method="bfill"))