In [3]:
import pandas as pd
pd.set_option('display.max_columns', 10)
print("Original data:\n")
df = pd.read_excel("/content/dcp_excel.xlsx")
print(df)

Original data:

   Unnamed: 0  ROLL      NAME  ENGLISH  TAMIL  MATHS  SCIENCE  SOCIAL  TOTAL
0           0   101      YASH     65.0     84     50       54      50    303
1           1   102     YUGAN     81.0     56     54       67      64    322
2           2   103       DEV     67.0     75     72       83      83    380
3           3   104     VENKY     56.0     71     80       71      53    331
4           4   105     SANDY      NaN     94     94       85      91    364
5           5   106  SRIKNATH     98.0     68     61       69      72    368
6           6   107     ROHAN     87.0     58     76       71      61    353

In [11]:
f = df['NAME'].str.strip()
f.to_excel("/content/dcap.xlsx")
print("\nReplace value:")
k = df.ffill()
print(k)
print("\nUpdated list\n")
k.to_excel("/content/dcap_filled.xlsx")

Replace value:
   Unnamed: 0  ROLL      NAME  ENGLISH  TAMIL  MATHS  SCIENCE  SOCIAL  TOTAL
0           0   101      YASH     65.0     84     50       54      50    303
1           1   102     YUGAN     81.0     56     54       67      64    322
2           2   103       DEV     67.0     75     72       83      83    380
3           3   104     VENKY     56.0     71     80       71      53    331
4           4   105     SANDY     56.0     94     94       85      91    364
5           5   106  SRIKNATH     98.0     68     61       69      72    368
6           6   107     ROHAN     87.0     58     76       71      61    353

Updated list

In [15]:
print("\nDrop one particular column and its values:\n")
k.drop(['SOCIAL'],axis=1,inplace=True, errors='ignore')
print(k)
print("\nUpdated list..\n")
k.to_excel("/content/dcap.xlsx")

Drop one particular column and its values:

   Unnamed: 0  ROLL      NAME  ENGLISH  TAMIL  MATHS  SCIENCE  TOTAL
0           0   101      YASH     65.0     84     50       54    303
1           1   102     YUGAN     81.0     56     54       67    322
2           2   103       DEV     67.0     75     72       83    380
3           3   104     VENKY     56.0     71     80       71    331
4           4   105     SANDY     56.0     94     94       85    364
5           5   106  SRIKNATH     98.0     68     61       69    368
6           6   107     ROHAN     87.0     58     76       71    353

Updated list..